:root {
    --black: #000000;
    --blue: #14213D;
    --orange: #FCA311;
    --grey: #E5E5E5;
    --white: #FFFFFF;
    --navbar-height: 3vmin;
}

p, a, li {
    font-family: Rubik, sans-serif;
    color: var(--black) !important;
}

nav {
    background-color: var(--blue) !important;
}
body {
    background: var(--black) !important;
    /* padding-top: var(--navbar-height); */
    margin: 0;
}

.navlink {
    font-style: normal;
    font-weight: normal;
    color: var(--grey) !important;
    text-decoration: none;
    font-size: calc(1.5 * var(--base-font-size));
    margin: 1vmin;
}

.navlink:hover {
    color: var(--white) !important;
    transition: background-color 0.5s ease;
}

.accordion-title {
    border: none;
    color: var(--white) !important;
    background-color: var(--blue) !important;
}

.accordion-title.ui-state-active {
    border: none;
    color: var(--white) !important;
    background-color: var(--orange) !important;
}

.ui-accordion-header-icon {
    color: var(--white) !important;
}

.up-btn, .dwn-btn {
    color: var(--grey) !important;
}

.up-btn:hover, .dwn-btn:hover {
    color: var(--white) !important;
    transition: background-color 0.5s ease;
}

.card {
    background: none !important;
}

.subtitle {
    color: var(--white) !important;
}