:root {
    --black: #000000;
    --blue: #14213D;
    --bright-blue: #0069d9;
    --orange: #FCA311;
    --grey: #E5E5E5;
    --white: #FFFFFF;
    --navbar-height: 3vmin;
}

#results {
    display: grid;
    grid-template-columns: repeat(auto-fill, 186px);
    grid-gap: 10px;
    padding: 10px;
    margin: auto;
    justify-content: center;
}

.card {
    background-color: var(--white) !important;
    border-radius: 5px;
    text-align: center;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.book-title {
    font-weight: 500;
}

.book-author {
    font-style: italic;
}

.libgen-link:hover, .book-link:hover {
    color: var(--bright-blue) !important;
}

.libgen-link:active, .book-link:active {
    color: var(--orange) !important;
}
