{% extends 'story9/base.html' %}
{% load static %}
{% block content %}
<div class="card container p-3 align-content-center">
    {% if not request.user.is_authenticated %}
    <h3>who are you?</h3>
    <a href="{% url 'story9:login' %}" class="custom-button my-3 text-center">Login</a>
    <a href="{% url 'story9:register' %}" class="custom-button my-3 text-center">Register</a> 

    {% else %}
    <h3>{{ greeting }}</h3>
    <h4>now go away</h2>
    <a href="{% url 'story9:logoff' %}" class="custom-button my-3 text-center">Log Off</a>
    {% endif %}
</div>
{% endblock %}
