{% extends 'story9/base.html' %}
{% load static %}
{% block content %}
<div class="card container p-3">
    <form method="POST" action="{% url 'story9:login' %}" class="login-form rounded-lg d-flex flex-column">
        {% if error %}
            <p class="text-center p-2 bg-danger rounded-lg">{{ error }}</p>
        {% endif %}
        <h3 class="mb-3 text-center">Login</h3>
        {% csrf_token %}
        {% for field in login_form %}
            <div class="form-group">
                <label>{{ field.label }}</label>
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit" class="custom-button btn">Login</button>
        <p class="my-3">Don't have an account?<p>
        <a class="custom-button my-3" href="{% url 'story9:register' %}">Make one</a>
    </form>
</div>
{% endblock %}
