{% extends 'story9/base.html' %}
{% load static %}
{% block content %}
<div class="card container p-3">
    {% if error %}
            <p class="text-center p-2 bg-danger rounded-lg">
                {{ error }}
            </p>
    {% endif %}
    <form method="POST" action="{% url 'story9:register' %}" class="card login-form rounded-lg d-flex flex-column justify-content-center">
        <h3 class="text-center mb-3">Create an account</h3>
        {% csrf_token %}
        {% for field in register_form %}
            <div class="form-group">
                <label>{{ field.label }}</label>
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit" class="custom-button btn my-3">Register Account</button>
    </form>

</div>
{% endblock %}
