<!DOCTYPE html>

{% load static %}

<html>

<head>
<title>Accordionionionion</title>
{% block additional-style %}
{% endblock %}
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static 'story7/script.js' %}"></script>
<link href="{% static 'story7/styles.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
    <nav class="navbar">
        <div class="container">
            <a class="navbar-brand navlink" href="{% url 'story7:index' %}">Accordionionionion</a>
        </div>
    </nav>
    <div id="content" class="container col my-3 d-flex align-items-center justify-content-center flex-wrap">
    {% block content %}
    {% endblock %}
    </div>
</body>
</html>