{% extends 'story7/base.html' %}
{% load static %}
{% block content %}
<div class ="card container my-2 col-md-2">
    <img class="rounded" id="pfp" src="{% static 'story4/ID10.png' %}">
    <div class ="card align-items-center">
    <p class="subtitle">Hi! My name's Dodo</p>
    </div>
</div>
<div id="accordion" class="card container my-2 col-md-8">
  <h3 class="accordion-title">Who am I?
    <span class="float-right dwn-btn">下</span>
    <span class="float-right up-btn">上</span>
  </h3>
  <div class="accordion-text">
    <p>
    Legally, I'm a civilian in Indonesia. Academically, I'm a student in UI. Generally, I'm a nuisance to most people trying to get serious work done. Sympathetically, I'm just like you, a normal person.
    </p>
  </div>
  <h3 class="accordion-title">What am I doing?
    <span class="float-right dwn-btn">下</span>
    <span class="float-right up-btn">上</span>
  </h3>
  <div class="accordion-text">
    <p>
    Currently, aside from classes, I'm learning various bits of math, some music theory, a bit of piano, some Japanese and general linguistics, and— no, wait; that's all. In a few weeks, that "Japanese" should also have "German" added on to it, though. Or maybe not, who knows!
    </p>
  </div>
  <h3 class="accordion-title">What have I done?
    <span class="float-right dwn-btn">下</span>
    <span class="float-right up-btn">上</span>
  </h3>
  <div class="accordion-text">
    <p>
    Not much, actually, I've only ever won one regional English debate contest in Jakarta. Aside from that, I've done not much else on the side of competitions.
    </p>
  </div class="accordion-text">
  <h3 class="accordion-title">What else am I working on?
    <span class="float-right dwn-btn">下</span>
    <span class="float-right up-btn">上</span>
  </h3>
  <div class="accordion-text">
    <p>
    Currently I'm with Ristek SIG Gamedev learning game development. And yea that's pretty much it.
    </p>
  </div>
</div>
{% endblock %}