:root {
    --black: #000000;
    --blue: #14213D;
    --orange: #FCA311;
    --grey: #E5E5E5;
    --white: #FFFFFF;
    --navbar-height: 3vmin;
}

* {
    box-sizing: border-box;
}

#content {
    flex-flow: row wrap;
    margin: auto;
    padding: var(--navbar-height);
    justify-content: center;
    align-items: flex-start;
    max-width: 100%;
}

.card {
    width: 30vmax;
    display: flex;
    flex-flow: column nowrap;
    margin: 3vmin auto;
    background-color: var(--white);
    padding: 2vmin;
    box-shadow: 2vmin 2vmin 0 var(--orange);
    align-content: flex-start;
}

.card > * {
    overflow-wrap: break-word;
    white-space: normal;
}

.card-row {
    max-width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

p, a, button, input {
    font-family: Rubik, sans-serif;
    color: var(--black);
}

body {
    background: var(--black);
    padding-top: var(--navbar-height);
    margin: 0;
}

nav {
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    margin: 0;
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--blue);
    display: flex;
    justify-content: space-between;
    padding: 3vmin;
    align-items: center;
}

.nav-right {
    flex-direction: row;
}

.navlink {
    font-style: normal;
    font-weight: normal;
    color: var(--grey);
    text-decoration: none;
    font-size: calc(1.5 * var(--base-font-size));
    margin: 1vmin;
}

.navlink:hover {
    color: var(--white);
    transition: background-color 0.5s ease;
}

button {
    background-color: var(--blue);
    color: var(--white);
    border: none;
    transition: background-color 0.2s ease;
    transition: color 0.2s ease;
}

button:hover {
    background-color: var(--white);
    color: var(--black);
    transition: background-color 0.3s ease;
    transition: color 0.3s ease;
}

input {
    border: none;
    border-bottom: 1px solid var(--orange);
    transition: background-color 0.3s ease;
}

input:hover, input:focus {
    background-color: var(--grey);
    transition: background-color 0.3s ease;
}