{% extends 'story6/base.html' %}
{% load static %}
{% block content %}
<div class = "card">
<form action = "{% url 'story6:add_kegiatan' %}" method = 'POST'>
    {% csrf_token %}
    <input name = "name" required>
    <button class="submit-btn" type="submit">Buat Kegiatan</button>
</form>
</div>
{% endblock %}