{% extends 'story6/base.html' %}
{% load static %}
{% block content %}
{% for kegiatan in kegiatan_list %}
<div class = "card">
    <div class = "card-row">
        <p>{{ kegiatan.name }}</p>
        <form action="{% url 'story6:delete_kegiatan' kegiatan.id %}" method="POST">
                {% csrf_token %}
                <button class = "del-btn" title = "Cancel kegiatan" alt = "Cancel kegiatan">Cancel</button>
        </form>
    </div>
    {% for peserta in kegiatan.participants %}
        <div class = "card-row">
            <p>{{ peserta.name }}</p>
            <form action="{% url 'story6:delete_peserta' peserta.id %}" method="POST">
                {% csrf_token %}
                <button class = "del-btn" title = "Hapus peserta" alt = "Hapus peserta">&times;</button>
            </form>
        </div>
    {% endfor %}
    <form action = "{% url 'story6:add_peserta' %}" method = 'POST' class="card-row">
        {% csrf_token %}
        <input name = "name" required placeholder = "Jatah satu orang satu kegiatan">
        <input name = "kegiatan" value = "{{ kegiatan.id }}" type = "hidden">
        <button class="submit-btn" type="submit">Daftarkan</button>
    </form>
</div>
{% endfor %}
{% endblock %}