:root {
    --magenta: #D90368;
    --pale: #FFFAF1;
    --green: #8BFFCE;
    --yellow: #FCF31D;
    --violet: #B8B8FF;
    --white: #FFFFFF;
    
    --navbar-height: 10vmin;
    
    --base-font-size: 2vmax;
    --vertical-base-space: 3vmin;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--pale);
    padding-top: var(--navbar-height);
    margin: 0;
    width: 100%;
}

h2 {
    font-family: Rubik, sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: var(--base-font-size);
    margin: 0;
}

p {
    font-family: Ruluko, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: var(--base-font-size);
    margin: 0;
}

h1 {
    font-family: Rubik, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: calc(1.3 * var(--base-font-size));
}

.section-title {
    font-family: Rubik, sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: var(--base-font-size);
    margin: 0;
}

nav {
    top: 0;
    position: fixed;
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--magenta);
    display: flex;
    justify-content: space-around;
    padding: 3vmin;
    align-items: center;
    margin: 0;
}

body header {
    width: 100%;
}
.nav-right {
    flex-direction: row;
}

.navlink {
    font-family: Rubik, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: var(--white);
    text-decoration: none;
    font-size: calc(0.8 * var(--base-font-size));
    margin: 1vmin;
}

.navlink:hover {
    font-weight: bold;
}

.contact {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.contact-link {
    font-family: Rubik, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: var(--magenta);
    text-decoration: none;
    font-size: calc(var(--base-font-size));
    margin: 1vmin;
}

.contact-link:hover {
    font-weight: bold;
}

.contact img {
    width: var(--base-font-size);
    margin: 1vw;
}

.text-highlight-violet-inline {
    display: inline;
    background: linear-gradient(180deg,rgba(255,255,255,0) 50%, var(--violet) 50%);
}

.text-highlight-violet {
    display: inline;
    background: linear-gradient(180deg,rgba(255,255,255,0) 50%, var(--violet) 50%);
}

.text-highlight-yellow {
    display: inline;
    background: linear-gradient(180deg,rgba(255,255,255,0) 50%, var(--yellow) 50%);
}

.text-highlight-green {
    display: inline;
    background: linear-gradient(180deg,rgba(255,255,255,0) 50%, var(--green) 50%);
}

.section {
    display: flex;
    flex-flow: row wrap;
    max-width: 90vw;
    justify-content: space-evenly;
    margin: auto;
    padding: 10% 0;
}

.section > * {
    margin: 1vmax;
    flex-grow: 1;
    flex-basis: 0;
}

.pic {
    display: inline-block;
    height: 100%;
}

#pfp {
    border-radius: 50%;
    height: 25vmax;
}

/* hidden mobile stuff */
.vertical {
    display: none;
}
/* mobile-type-view stuff */
@media only screen and (max-width: 1145px) {
    :root {
        --base-font-size: 3vh;
    }
    
    .pic {
        order: -1;
    }
    
    .horizontal {
        display: none !important;
    }
    
    .vertical {
        display: block;
    }

    .nav-left a {
        font-size: calc(1.5 * var(--base-font-size));
    }
    
    .section {
        max-width: 60vw;
        flex-flow: column wrap;
        justify-content: center;
    }
    
    .overview {
        order: -1;
    }
}

/* additional blog styles */

.image-container {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    margin: var(--vertical-base-space) 0;
}

.front-image {
    width: 100%;
}

.subtitle {
    font-size: calc(0.75 * var(--base-font-size));
    color: #b3aca1
}

.paragraph {
    margin: var(--vertical-base-space) 0;
    font-size: var(--base-font-size);
    width: 100%;
}

.inline-link {
    text-decoration: none;
    color: black;
    background: linear-gradient(180deg,rgba(255,255,255,0) 50%, var(--yellow) 50%)
}

.inline-link:hover {
    background: linear-gradient(180deg,rgba(255,255,255,0) 50%, var(--magenta) 50%)
}

.blog-title {
    font-size: calc(2 * var(--base-font-size));
    display: inline;
}

.blog-body, .content {
    display: flex;
    flex-flow: column wrap;
    width: 60vw;
    justify-content: center;
    padding: 10% 0;
    margin: auto;
}