<!DOCTYPE html>

{% load static %}

<html>

<head>
{% block additional-style %}
{% endblock %}
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<link href="{% static 'story4/styles.css' %}" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css2?family=Ruluko&display=swap" rel="stylesheet"> 
</head>

<body>
    <header>
        <nav id="nav-container">
            <!-- maybe replace this with a logo? -->
            <div class="nav-left">
                <a class="navlink horizontal" href="/">Beltsazar Anugrah Sotardodo</a>
                <a class="navlink vertical" href="/">BAS</a>
            </div>
            <div class="nav-right">
                <a class="navlink" href="{% url 'story4:index' %}#intro">About</a>
                <a class="navlink" href="{% url 'story4:index' %}#skills">Skills</a>
                <a class="navlink" href="{% url 'story4:index' %}#experiences">Experiences</a>
                <a class="navlink" href="{% url 'story4:index' %}#contacts">Contacts</a>
                <a class="navlink" href="{% url 'story4:blog_example' %}">Blog</a>
                <a class="navlink" href="{% url 'story1:index' %}">Story 1</a>
            </div>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>