{% extends 'story4/base.html' %}

{% load static %}
{% block content %}
    <div class="blog-body">
        <div class="content">
            <h1 class="text-highlight-green blog-title">The Good Ending</h1>
            
            <div class="image-container">
                <img class="front-image" src="{% static 'story4/geijutsuka.jpg' %}">
                <p class="subtitle">(Image is from GA Geijutsuka Art Design Class, chapter 7 page 120. Only tangentially related to the theme, I just thought it looked cool as a graphic element.)</p>
            </div>

            <p class="paragraph">In discussing Life is Strange, <a class="inline-link" href="https://www.youtube.com/watch?v=LFlMoAasW4A">the video game reviewer E;R </a> remarked that traditional narratives and story-telling trumps realism every time. And to this end every single form of art has only proved this statement to be truer and truer. Of course some degree of realism (or, more properly, general familiarity) is necessary in those forms of art, but the statement <span class="text-highlight-violet-inline">"One does not draw what one can already see in real life"</span> rings louder than the necessity of that familiarity.</p>

            <p class="paragraph">At its core, art gives an escape from reality, a reified liminal space in which to discuss ideas, or sometimes merely to escape from reality as it is. Being a form of expression also, this liminal space often speaks in its own language in order to present its ideas. It speaks in a way that is foreign, in a more expressive tone regarding what can and cannot be said; as we know from theater: some things are too intense for speech, and even still some things too intense for song.</p>

            <p class="paragraph">In so doing art has a special degree of freedom to play with the things that we experience in everyday life, yet is still <span class="text-highlight-violet-inline">distinctly liminal in nature</span>. Every book has a last chapter, every album a last track, every painting a last stroke, every comic a last panel, and so on. In this sense the art form is not an ends in and of itself, but rather the medium through which we go from the point A of the introduction and the point Z of the ending.</p>

            <p class="paragraph">But in that sort of structure as well, art escapes reality. There is a clear beginning and end for almost every piece, and in that regard it defies reality. There is, however, no clear beginning for a person. There might be a beginning from which one begins to remember, but this ability betrays accuracy, being new, and our "first memory" so-called are simply that which our brain decides to give up and settle on in order to stop working on trying to remember whatever this "first memory" might be. Likewise there is no clear end for a person. One simply stops living and as far as we know given some necessary admissions, there is no point through which we can stand up and say, "My life has ended." <span class="text-highlight-violet-inline">Death comes as does a thief in the night</span> and our best and only preparation against it is our resignation and repose in a death bed awaiting it.</p>

            <p class="paragraph">In traditional narratives also, the timeline is broken up into stories and arcs. This is akin to how the human mind operates in remembering whole stories, but not in how reality plays out. Every person experiences constantly new beginnings and fresh ends; some merely more dominant than others. Thusly our minds embellish memories from how they were recorded in order to piece together a coherent story that one can tell. The same embellishment that realism is so often praised for yet did none of, in its rejection of romanticism and the like. As no one remembers the gathering of golden-tinged wheat nor sunsets toned after cuttlefish, so too would no one tell the story of the time someone gathered wheat and it was just wheat. The "telling" is the chink in the armor of memory and the brook-begotten stones of art's sling, as <span class="text-highlight-violet-inline">to "tell" one needs to cut off and add on certain things in order to convey the message.</span> Stories are to be told, memories aren't. In that sense narratives have an idealized form of time, broken up into less liminal transitory states to more liminal dominant story arcs.</p>

            <p class="paragraph">Narratives also break away from reality by being strictly teleological. Things happen for the sake of the narrative, whereas reality occurs as a cause for things to happen. Characters' pasts, new persons--such things are introduced for the sake of the narrative, not as a consequence of it. And even in the case where the narrative simply has no plotline to follow, it still serves its teleology as an escape from reality. As such narratives defy reality in giving time and occurrence itself an obvious teleology. By contrast, in empty reality things simply happen as a consequence of that from which it is contingent. Even narratives that serves the purpose of demonstrating such kinds of reality is teleological and structured in such a way that it defies reality simply by existing.</p>

            <p class="paragraph">Ultimately it is this <span class="text-highlight-violet-inline">teleology of the narrative</span> that excuses its existence for human indulgence. As humans do too would love to believe in narratives. For there to be an epilogue to breathe in after every ending, for there to be some greater purpose to the constant cycle of toil--these are the hungers for which the narrative sates. And at some point in this text one could perhaps sense a cynical tinge of absurdism, a rejection of everyday life in its boredom for something more, something perhaps absurd or subversive. And while I would, perhaps, do so several years ago, I do not wish to send such a message in reflections like these. I simply wish to reflect, as well as to send directly the opposite message. Take the humble slice of life genre, in its exaltation of the menial and mundane. It is to its end the realism of our time, ironically not against any sort of romantization of the strange, but precisely in its romantization of the mundane against the backdrop over the very mundane of every day life. To its end it has no further purpose or message to tell, but it offers an escape from the soul-crushing reality of modernity, or more accurately, Japan, in line with the theme I'm presenting in the image. And to that end it excuses its existence.</p>

            <p class="paragraph">Though I would be remiss to simply dismiss it as an escape to reality, failing to notice the clear message that I'm attempting to give here in that same form of art, the presence of which I cannot confirm to be intentional. In the same way that the Protestant reformation gave way to people to view the secular and the divine to not be separate, but rather for the secular to be informed by the divine, so too I would argue that this form of art argues for the mundane not to be separate from the spectacular, but to be informed by it. It is for every man to defy reality and carve out against the grains of banality his own spectacular narrative. Not to prop it up as larger than himself, but to appreciate that to his being and wit, <span class="text-highlight-violet-inline">this is Ramayana for himself, the Iliad for the common man, a conquest for Rome in an office booth</span>. It is not to be depreciated for its smallness in its being for the sake of the lay, but must be regarded in being an epic of one's own, as a child does a "mere" rock or stick. As though ink stuck to the surfaces of a palm leaf may be rewritten for generations to come, it itself will never come to know the intricacies of human life, take a woman in hand for marriage, strike a knife through the bosom of a boar, feed a family by one's own paycheck, give what little change one has to a fellow beggar in the street, see the innocence in the smile of a child, mourn, rejoice, or die. At the end of the day, the spectacular merely stand as stories, the value of which does not come without the will of the man who writes it and the man who reads it; contingent upon the will of the man who has the capability to turn it into that which is of value.</p>

            <p class="paragraph">For this, I argue, man despairs not against the chasm between which his life and the spectacular are divorced, but rather weaves his own stories to tell from his memories and await for inevitably new occurrences to appreciate; not to wallow in self-pity against the world striking her will in robbing the man of his epic, but to rebel against the world in rejecting the banality she had pressed down against humanity under her thumb. As, in doing so, man once more enacts conquest, in struggle, against both himself and the world, finding in it both the solace in resigning from the absurd and the will to find strength to carry on.</p>

            <p class="paragraph">That is all.</p>

        </div>
    </div>
{% endblock %}