{% extends 'story4/base.html' %}
{% load static %}

{% block content %}
    <div id="intro" class="section">
        <div id="desc">
            <h1 class="text-highlight-green">Hi! I'm Dodo!</h1>
            <p>Legally, I'm Beltsazar Anugrah Sotardodo, standard human being. Nice to meet you! I'm a computer science student at Fasilkom UI, class of 2019. I like obscure little tidbits about computer science, human linguistics, and religious history</p>
        </div>
        <div class="pic">
            <img id="pfp" src="{% static 'story4/ID10.png' %}">
        </div>
        
        
        <!-- <img id="pfp" src="static/ID10.png"> -->
        
        <div id="personal details">
            <h1 class="text-highlight-yellow">Personal Details</h1>
            <h2>Full Name</h2>
            <p>Beltsazar Anugrah Sotardodo</p>
            <h2>Age</h2>
            <p>19</p>
            <h2>Location</h2>
            <p>Bekasi, West Java, Indonesia</p>
        </div>
    </div>

    <div id="skills" class="section">
        <div class="overview">
        <h1 class="text-highlight-yellow">Skills: Overview</h1>
        <p><span class="text-highlight-violet-inline">I’ve several skills</span> dotted around the fields of <span class="text-highlight-violet-inline">general programming</span> (the standard 3-piece webdev group and some other languages) and <span class="text-highlight-violet-inline">visual design</span> (mostly vector-based).</p>
        </div>

        <div class="section-details">
            <h1 class="text-highlight-green">Details</h1>
            <h2>HTML, CSS, JS</h2>
            <p>~3 yr’s of on-off study and use</p>
            <h2>Python</h2>
            <p>1.5 yr’s of use in study and personal scripting</p>
            <h2>Java</h2>
            <p>6 mo’s of use in study</p>
            <h2>C</h2>
            <p>~3 mo’s of use in personal study Haskell ~2 mo’s of use in personal study</p>
            <h2>Inkscape</h2>
            <p>~1 yr of use for freelance design</p>
            <h2>Krita</h2>
            <p>Less than 1 year of use, in personal art projects</p>
            <h2>GIMP</h2>
            <p>1.5 years of use in personal art projects, 0.5 in freelance design</p>
            <h2>Unity</h2>
            <p>~6 mo’s of use including in organization projects</p>
        </div>
    </div>

    <div id="experiences" class="section">
        <div class="section-details">
            <h1 class="text-highlight-green">Details</h1>
            <h2>English Club of 61 Senior High School, Jakarta</h2>
            <p>Vice president, as well as participant in several debate competitions on the regional level</p>
            <h2>RISTEK Game Dev SIG</h2>
            <p>Junior member</p>
        </div>

        <div class="overview">
            <h1 class="text-highlight-yellow">Experiences: Overview</h1>
            <p>Prior to university I’ve mostly had various misadventures in <span class="text-highlight-violet-inline">English competitions, particularly that of debate</span>. Coming into university, <span class="text-highlight-violet-inline">I joined a game development</span> division of one of the autonomous organizations on campus to foster my curiosity on the subject.</p>
        </div>
    </div>

    <div id="contacts" class="section">
        <div>
            <h1 class="text-highlight-violet">Contact Me!</h1>
            <div class="contact">
                <img src="{% static 'story4/gmail.svg' %}">
                <a class="contact-link" href="mailto:beltsazar.3401@gmail.com">beltsazar.3401@gmail.com</a>
            </div>
            
            <div class="contact">
                <img src="{% static 'story4/ig.svg' %}">
                <a class="contact-link" href="http://instagram.com/folie__a_denpa">folie__a_denpa</a>
            </div>
            
            <div class="contact">
                <img src="{% static 'story4/line.svg' %}">
                <a class="contact-link" href="http://line.me/ti/p/~n0rmal1">n0rmal1</a>
            </div>
            
            <div class="contact">
                <img src="{% static 'story4/linkedin.svg' %}">
                <a class="contact-link" href="https://www.linkedin.com/in/beltsazar-sotardodo-2843151a0/">Beltsazar Anugrah Sotardodo</a>
            </div>
        </div>
    </div>
{% endblock %}