{% extends 'story5/base.html' %}
{% load static %}
<!-- ADD! -->
{% block content %}
    <div class = "card">
        <form action="{% url 'story5:add_matkul' %}" method="POST">
        {% csrf_token %}
            <div class = "row">
                <div class="column">
                    <!-- <h3 class = "heading">{{ matkul.nama_matkul }}</h3> -->
                    <input id = "nama-matkul-input" placeholder = "Nama Mata Kuliah" name = "nama_matkul" required>
                    
                </div>
                <div class="column">
                    <!-- <h2 class = "subheading">{{ matkul.kode_matkul }}</h2> -->
                    <input id = "kode-matkul-input" placeholder = "Kode Mata Kuliah" name = "kode_matkul" required>
                    <p class = "input-subtitle">Format: Empat (4) huruf kapital diikuti enam (6) angka</p>
                    
                </div>
            </div>
            
            <div class = "row">
                <div class="column">
                    <!-- <p>{{ matkul.nama_dosen }}</p> -->
                    <input id = "nama-dosen-input" placeholder = "Nama Dosen Pengampu" name = "nama_dosen" required>
                    <!-- <p>{{ matkul.ruangan }}</p> -->
                    <input id = "ruangan-input" placeholder = "Ruangan" name = "ruangan" required>
                    <p class = "input-subtitle">Format: Ruangan sesuai format di Fasilkom (misal: A1.22 atau 2.2303).<br> Untuk kelas online, tulis "online".</p>
                    
                    
                </div>
                <div class="column">
                    <!-- <p>{{ matkul.jumlah_sks }}</p> -->
                    <input id = "jumlah-input" type = "number" value = 1 name = "jumlah_sks" required>
                    <!-- <p>{{ matkul.jumlah_sks }}</p> -->
                    <input id = "semester-tahun-input" placeholder = "Semester Tahun" name = "semester_tahun" required>
                    <p class = "input-subtitle">Format: Satu (1) kata, "Gasal" atau "Genap", diikuti tahun berbentuk seperti 2019/2020</p>
                    
                    
                </div>
            </div>
            <div class = "card-paragraph row">
                <div class= "column">
                    <!-- <p>{{ matkul.deskripsi }}</p> -->
                    <textarea name = "deskripsi" placeholder = "Deskripsikan mata kuliah ini" required></textarea>
                </div>
            </div>
        <div class ="row">
            <div class = "column">
                <button class="submit-btn" type="submit">Add Mata Kuliah</button>
            </div>
        </div>
        </form>
    </div>
{% endblock %}