<!DOCTYPE html>

{% load static %}

<html>

<head>
<title>Bukan SCeLE</title>
{% block additional-style %}
{% endblock %}
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<link href="{% static 'story5/styles.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
    {% block display-messages %}
        {% if messages %}
        <script>
        {% for message in messages %}
            alert("{{ message }}");
        {% endfor %}
        </script>
    {% endif %}
    {% endblock %}
    <header>
        <nav id="nav-container">
            <div class="nav-left">
                <a class="navlink horizontal" href="{% url 'story5:index' %}">Bukan SCeLE</a>
            </div>
            <div class="nav-right">
                <a class="navlink" href="{% url 'story5:add_matkul' %}">Add Matkul</a>
            </div>
        </nav>
    </header>
    <div id="content">
    {% block content %}
    {% endblock %}
    </div>
</body>
</html>