{% extends 'story5/base.html' %}
{% load static %}
<!-- DETAIL! -->
{% block content %}
    <div class = "card">
        <div class = "column">
            <h3 class = "heading">{{ matkul.nama_matkul }}</h3>
            <h4 class = "subheading">{{ matkul.kode_matkul }}</h2>
        </div>
        <div class = "row">
            <div class = "column">
                <p>Dosen: {{ matkul.nama_dosen }}</p>
                <p>Ruangan: {{ matkul.ruangan }}</p>
            </div>
            <div class = "column">
                <p>Semester: {{ matkul.semester_tahun }}</p>
                <p>Jumlah SKS: {{ matkul.jumlah_sks }}</p>
            </div>
        </div>
        <div class = "card-paragraph row">
            <div class = "column">
            <p>Deskripsi:</p>
            <br>
            <p>{{ matkul.deskripsi }}</p>
            </div>
        </div>
    </div>
{% endblock %}