{% extends 'story5/base.html' %}
{% load static %}
<!-- INDEX! -->
{% block content %}
    {% for matkul in matkul_list %}
        <div class = "card">
            <div class = "card-top">
                <p>{{ matkul.kode_matkul }}</p>
                <form action="{% url 'story5:delete_matkul' matkul.kode_matkul %}" method="POST">
                    {% csrf_token %}
                <button class = "del-btn" title = "Delete mata kuliah" alt = "Delete mata kuliah">&times;</button>
                </form>
            </div>
            <a href = "{% url 'story5:detail_matkul' matkul.kode_matkul %}" class = "heading"><h3>{{ matkul.nama_matkul }}</h3></a>
            <p>Dosen: {{ matkul.nama_dosen }}</p>
            <p>Ruangan: {{ matkul.ruangan }}</p>
    </div>
    {% empty %}
        <div class = "huge-card">
            <p>There's nothing here, yet</p>
        </div>
    {% endfor %}
{% endblock %}