:root {
    --bg-color: white;
    --shadow-color: black;
}

body {
    background-color: var(--bg-color);
}
.card {
    width: 50vmax;
    margin: 2vmin auto;
    padding: 2vmin;
    border-style: outset;
    border-color: var(--shadow-color);
    background-color: var(--bg-color);
    color: var(--shadow-color);
    border-width: 0px 2vmin 2vmin 0px;
}


p, td {
    font-family: serif;
}

a {
    text-decoration: none;
    display: inline;
    float: none;
    color: var(--shadow-color);
}

.centered {
    text-align: center;
}

.sub-heading {
    text-align: center;
}
.contact {
    display: inline;
    height: 5vmax;
    width: auto;
    margin: 2vmin;
    padding: 2vmin;
}

#title-card, #secret-button {
    font-family: "Lucida Console", Monaco, monospace;
}

#basic-info {
    display: flex;
}

#foto-yang-sopan, #bio-data {
    display: inline;
    margin: 2vmin;
}

#secret-button {
    text-align: center;
}

#profpic {
    width: 100%;
}