{% extends 'story8/base.html' %}
{% load static %}
{% block content %}
<form id = "search-form">
    <input type="search" class="form-control" id="search-query" placeholder="Book Name">
    <small class="form-text text-muted">Search for a book!</small>
    <input type="submit" class="btn btn-primary" value="🔍 Search">

</form>

<div id="results" class="container">
</div>
{% endblock %}