/* style based on the orange Ubuntu-esque theme of SCeLE (I can't remember what it's called, sorry) */

:root {
    --black: #212121;
    --orange: #ff6500;
    --white: #ffffff;
    --grey: #777777;
    --light-orange: #ffbb8f;
    --base-font-size: 1vmax;
    --navbar-height: 3vmin;
}

* {
    box-sizing: border-box;
}
body {
    background: var(--white);
    padding-top: var(--navbar-height);
    margin: 0;
}

nav {
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    margin: 0;
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    padding: 3vmin;
    align-items: center;
}


p, a, h3, h4 {
    font-family: "Helvetica Neue", Helvetica,Arial, sans-serif;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 2vmin;
}

.row {
    display: flex;
    flex-flow: row wrap;
    padding: 1vmin;
    justify-content: space-between;
    padding: 2vmin 0;
    width: 100%;
}

.input-subtitle {
    color: var(--grey);
    font-size: calc(0.9 * var(--base-font-size));
    margin: 0;
}

.heading {
    font-size: calc(1.5 * var(--base-font-size));
    color: var(--orange);
}

.card-content > p {
    color: var(--black);
}

.card-content > a {
    color: var(--orange);
}

.nav-right {
    flex-direction: row;
}

.navlink {
    font-family: "Helvetica Neue", Helvetica,Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: var(--grey);
    text-decoration: none;
    font-size: calc(1.5 * var(--base-font-size));
    margin: 1vmin;
}

.navlink:hover {
    color: var(--white);
    transition: background-color 0.5s ease;
}

#content {
    margin-top: var(--navbar-height);
    padding: 1vmin;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.card {
    width: 80%;
    display: flex;
    flex-flow: column wrap;
    margin: 3vmin auto;
    background-color: var(--white);
    border-color: var(--black);
    border-style: none none none solid;
    border-width: 4vmin;
    padding: 4vmin;
    box-shadow: 2vmin 2vmin 0 var(--orange);
    align-content: flex-start;
}

.card-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    border-radius: 3vmin;
    width: 100%
}

.card-content {
    margin: 1vmin;
}

.del-btn, .submit-btn {
    background-color: var(--orange);
    border-radius: 1vmin;
    color: var(--white);
    border: none;
}

input, textarea {
    border: none;
    border-bottom: 1px solid var(--orange);
}

input:focus {
    background-color: var(--light-orange);
    transition: background-color 0.5s ease;
}