:root {
    --black: #000000;
    --blue: #14213D;
    --bright-blue: #0069d9;
    --orange: #FCA311;
    --grey: #E5E5E5;
    --white: #FFFFFF;
    --navbar-height: 3vmin;
}

.card {
    background-color: var(--white) !important;
    border-radius: 5px;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-footer {
    
}
.custom-button {
    padding: 10px 30px;
    border:none; 
    border-radius: 10px;
    background-color: var(--blue) !important;
    color: var(--white) !important;
    transition: background-color 0.2s ease !important;
    transition: color 0.2s ease !important;
}

.custom-button:hover {
    background-color: var(--bright-blue) !important;
    transition: background-color 0.3s ease !important;
    transition: color 0.3s ease !important;
}

input {
    border: none;
    border-bottom: 1px solid var(--orange);
    transition: background-color 0.3s ease;
}

input:hover, input:focus {
    background-color: var(--grey);
    transition: background-color 0.3s ease;
}

label {
    font-family: Rubik, sans-serif;
    color: var(--black) !important;
}